@charset "UTF-8";
@-webkit-keyframes $animation-name {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-moz-keyframes $animation-name {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes $animation-name {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-webkit-keyframes $animation-name {
  0% {
    display: block;
    opacity: 1; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
@-moz-keyframes $animation-name {
  0% {
    display: block;
    opacity: 1; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
@keyframes $animation-name {
  0% {
    display: block;
    opacity: 1; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
/* General Settings */
body {
  background-color: #fff;
  font-family: "Lato", sans-serif; }

/* for firefox */
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0; }

input.fontawesome {
  font-family: FontAwesome, "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

strong {
  font-family: "Lato", sans-serif;
  font-weight: bold; }

span {
  line-height: 100%;
  vertical-align: baseline; }

img {
  border: none; }

p {
  line-height: 150%;
  /* 170% for en sentenses */
  text-align: center; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

i {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  position: relative; }

a {
  color: #1cd2d0;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out; }
  a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); }
    @media screen and (max-width: 767px) {
      a:hover {
        opacity: 1;
        filter: alpha(opacity=100); } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      a:hover {
        opacity: 1;
        filter: alpha(opacity=100); } }
  a:active, a:hover, a:link {
    text-decoration: none !important; }
  a:active, a:focus {
    outline: 0; }
  a img {
    border: none;
    outline: none; }

/* bootstrap bugs for xs offset (?) this is to fix */
@media screen and (min-width: 768px) {
  .col-xs-offset-1 {
    margin-left: 0; } }

/* header  */
header {
  height: 100px; }
  header img {
    float: left; }
  header h1 {
    color: #1cd2d0;
    font-family: "Crimson Text", osaka, serif;
    float: left;
    text-align: left;
    font-family: "Crimson Text", osaka, serif;
    font-size: 3em; }
  header a {
    display: block;
    float: right; }
    header a.logo {
      float: left; }
    header a.btn {
      margin: 30px 10px; }
      header a.btn.btn-primary {
        background-color: #1cd2d0;
        border-color: #10cfcc; }

main {
  padding-bottom: 30px; }
  main .banner {
    padding-right: 0;
    padding-left: 0; }
    main .banner img {
      max-width: 100%; }
  main .title {
    font-size: 1.2em;
    padding-top: 4em;
    padding-bottom: 4em; }
  main .card-wrapper {
    background-color: #f4f5f4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 50px; }
    main .card-wrapper i {
      color: #1cd2d0;
      font-size: 100px; }
  main .note {
    padding-top: 30px;
    padding-bottom: 15px; }
  main .bx-controls {
    display: none; }

footer {
  background: url("../images/footer.png") 0 0 no-repeat;
  background-size: contain;
  background-color: #3d3d3d;
  height: 0;
  /* display height ÷ width of the image × 100 */
  padding-top: 25%;
  position: relative; }
  footer .row {
    background-color: #3d3d3d; }
    footer .row p {
      color: #fff;
      padding-bottom: 10px; }
      footer .row p.copyright {
        text-align: center;
        width: 100%; }

/* ============================== chatroom ============================== */
#chat-wrapper {
  display: flex;
  min-height: 100vh; }

#channel {
  background-color: #1a8db6;
  color: #fff;
  width: 20%; }
  #channel > div {
    padding: 10px 20px; }
  #channel .group-name {
    font-size: 1.2em;
    font-weight: bold;
    position: fixed; }
  #channel .members {
    flex: 1;
    position: fixed;
    top: 50px; }
    #channel .members ul li {
      padding: 5px; }
  #channel p.copyright {
    background-color: #1a8db6;
    font-size: 0.8em;
    margin-bottom: 0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    line-height: 200%;
    width: 20%; }

#chat {
  display: flex;
  width: 80%; }
  #chat header {
    background-color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    z-index: 10; }
    #chat header p.title {
      float: left;
      font-size: 1.2em;
      font-weight: bold; }
    #chat header ul {
      display: flex;
      flex-direction: row;
      float: right; }
      #chat header ul li a {
        color: #1a8db6;
        font-size: 1.5em;
        padding-right: 10px;
        padding-left: 10px; }
    #chat header .trip-details {
      border-top: 1px solid #f4f5f4;
      clear: both;
      padding: 5px 10px; }
      #chat header .trip-details .schedule {
        float: left; }
        #chat header .trip-details .schedule ul li {
          text-align: center; }
        #chat header .trip-details .schedule + div {
          float: right; }
          #chat header .trip-details .schedule + div p {
            font-size: 0.9em;
            line-height: 120%;
            margin-bottom: 0;
            text-align: right; }
            #chat header .trip-details .schedule + div p:last-child {
              font-weight: bold; }
  #chat main {
    background-color: #eee;
    flex: 1;
    overflow: scroll;
    padding: 100px 5px 50px 5px;
    width: 100%; }
    #chat main ul.message-wrapper {
      display: flex;
      margin-top: 10px;
      padding: 15px;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out; }
      #chat main ul.message-wrapper:hover {
        background-color: #fff;
        border-radius: 5px;
        color: #1a8db6; }
        #chat main ul.message-wrapper:hover li.thumb i {
          opacity: 1; }
      #chat main ul.message-wrapper li.thumb {
        padding: 5px 10px 5px 5px;
        position: relative; }
        #chat main ul.message-wrapper li.thumb img {
          border: 1px solid #eee;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          height: 50px;
          width: 50px; }
        #chat main ul.message-wrapper li.thumb i {
          transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          color: #1a8db6;
          font-size: 0.8em;
          opacity: 0;
          position: absolute;
          top: 5px;
          right: 5px; }
      #chat main ul.message-wrapper li.message {
        padding: 5px 10px;
        text-align: left;
        width: 100%; }
        #chat main ul.message-wrapper li.message span.user {
          display: inline-block;
          font-weight: bold;
          width: 100%; }
          #chat main ul.message-wrapper li.message span.user span {
            display: inline-block;
            float: right;
            font-weight: normal;
            font-size: 0.8em;
            opacity: 0.5;
            text-align: right; }
  #chat footer {
    background: none;
    height: auto;
    padding-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%; }
    #chat footer #comment {
      height: 50px;
      padding: 10px;
      width: 100%; }
      #chat footer #comment:placeholder-shown {
        color: #a5a5a5; }
      #chat footer #comment::-webkit-input-placeholder {
        color: #a5a5a5; }
      #chat footer #comment:-moz-placeholder {
        color: #a5a5a5;
        opacity: 1; }
      #chat footer #comment::-moz-placeholder {
        color: #a5a5a5;
        opacity: 1; }
      #chat footer #comment:-ms-input-placeholder {
        color: #a5a5a5; }

/* ============================== form ============================== */
.form-page header h1 + a, .form-page header a + a {
  display: none; }
.form-page footer {
  clear: both; }
.form-page aside form, .form-page section form {
  margin: 0 auto;
  width: 500px; }
  .form-page aside form input, .form-page section form input {
    margin-top: 5px; }
  .form-page aside form a, .form-page section form a {
    display: block;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px; }
.form-page aside select, .form-page section select {
  width: 100%; }
.form-page aside ul.thumbs, .form-page section ul.thumbs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 25px auto;
  padding: 10px;
  width: 500px; }
  .form-page aside ul.thumbs li, .form-page section ul.thumbs li {
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    width: 150px; }
    .form-page aside ul.thumbs li .trip-details, .form-page section ul.thumbs li .trip-details {
      background-color: #fff;
      color: #3d3d3d;
      height: 100%;
      opacity: 0.8;
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out; }
      .form-page aside ul.thumbs li .trip-details span, .form-page section ul.thumbs li .trip-details span {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%; }
        .form-page aside ul.thumbs li .trip-details span.title, .form-page section ul.thumbs li .trip-details span.title {
          font-weight: bold; }
    .form-page aside ul.thumbs li img, .form-page section ul.thumbs li img {
      border: 1px solid #f4f5f4;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      height: auto;
      width: 150px; }
    .form-page aside ul.thumbs li:hover a, .form-page section ul.thumbs li:hover a {
      opacity: 1; }
      .form-page aside ul.thumbs li:hover a .trip-details, .form-page section ul.thumbs li:hover a .trip-details {
        background-color: none;
        opacity: 0; }

/*# sourceMappingURL=style.css.map */
