$font_title:    "Sofia", cursive;
$font_serif:    'Crimson Text', osaka, serif;
$font_sansserif: "Lato", sans-serif;

$color_black:       #3d3d3d;
$color_blue:        #1cd2d0;
$color_blue_darker: #10cfcc;
$color_blue_solid:  #1a8db6;
$color_brown:       #603813;
$color_footer_bg:   #3d3d3d;
$color_grey:        #f4f5f4;
$color_grey_base:   #eeeeee;
$color_grey_dark:   #a5a5a5;

$color_purple:      #3e414e;

$device_mobile:             '(max-width: 767px)';
$device_tablet:             '(min-width: 768px) and (max-width: 991px)';
$device_tablet_and_up:      '(min-width: 768px)';
$device_desktop_md:         '(min-width: 992px) and (max-width: 1199px)';
$device_desktop_md_and_up:  '(min-width: 992px)';
$device_desktop_lg:         '(min-width: 1200px)';

@mixin border-radius($p) {
    border-radius: $p;
    -moz-border-radius: $p;
    -webkit-border-radius: $p;
}

@mixin box-shadow($v) {
    box-shadow: $v;
    -moz-box-shadow: $v;
    -webkit-box-shadow: $v;
}

@mixin box-sizing($b) {
    box-sizing: $b;
    -moz-box-sizing: $b;
    -webkit-box-sizing: $b;
}


@mixin transition($t) {
    transition: $t;
    -moz-transition: $t;
    -webkit-transition: $t;
    -o-transition: $t;
    -ms-transition: $t;
}

@mixin transform($r) {
    transform: $r;
    -ms-transform: $r;
    -moz-transform: $r;
    -webkit-transform: $r;
}
//how to use
//@include border-radius(0);
//@include box-shadow(none);
//


@mixin placeholder-color($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@include keyframes(fadeIn) {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}
@include keyframes(fadeOut) {
    0% { display: block; opacity: 1; }
    80% { display: block; opacity: 0; }
    100% { display: none; opacity: 0; }
}


/* General Settings */
body {
    background-color: #fff;
    font-family: $font_sansserif;
}

/* for firefox */
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

// fontawesome input placeholder entry
input.fontawesome {
    font-family: FontAwesome, $font_sansserif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

// replace styling for bootstrap primary btn
.btn.btn-primary {
    background-color: $color_blue;
    border: 1px solid $color_blue_darker;
    @include transition(all 0.4s ease-in-out);
    &:hover {

        background-color: $color_blue_darker;
    }
}

//font size setting
html { }
body { }
h1   {  }
h2, h3 { }

@media screen and #{$device_mobile} {
    body { }
    i.fa { }
}

//font family, font weight and other setting
h1, h2 { color: $color_grey_dark; font-family: $font_serif; }
strong { font-family: $font_sansserif; font-weight: bold; }

span { line-height: 100%; vertical-align: baseline; }
img { border: none; }

p {
    line-height: 150%;  /* 170% for en sentenses */
    text-align: center;
}
ul, ol { list-style: none; margin: 0; padding: 0; }

i {
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    position: relative;
}

a {
    color: $color_blue;
    display: inline-block;
    text-decoration: none;
    @include transition(all 0.4s ease-in-out);
    &:hover {
        opacity: 0.4; filter: alpha(opacity=40);
        @media screen and #{$device_mobile} {
            opacity: 1; filter: alpha(opacity=100);
        }
        @media screen and #{$device_tablet} {
            opacity: 1; filter: alpha(opacity=100);
        }
    }
    &:active, &:hover, &:link {
        text-decoration: none !important;
    }

    &:active, &:focus {outline: 0;}

    &.active {
    }
    img {
        border: none;
        outline: none;
    }
}

/* bootstrap bugs for xs offset (?) this is to fix */
.col-xs-offset-1 {
    @media screen and #{$device_tablet_and_up} { margin-left: 0; }
}

/* header  */
header {
    height: 100px;
    img {
        float: left;
    }
    h1 {
        color: $color_blue;
        font-family: $font_serif;
        float: left;
        text-align: left;
        font-family: $font-serif;
        font-size: 3em;
        // @media screen and #{$device_device_mobile} { width: 100%; }
    }
    a, button {
        display: block;
        float: right;
        &.logo {
            float: left;
        }
        &.btn {
            margin: 30px 10px;
            &.btn-primary {
                background-color: $color_blue;
                border-color: $color_blue_darker;
            }
        }
    }
}

main {
    padding-bottom: 30px;
    .banner {
        padding-right: 0;
        padding-left: 0;
        img {
            max-width: 100%;
        }
    }
    .title {
        font-size: 1.2em;
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .card-wrapper {
        background-color: $color_grey;
        @include border-radius(10px);
        padding: 50px;
        i {
            color: $color_blue;
            font-size: 100px;
        }
    }
    .note {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    // bxslider
    .bx-controls {
        display: none;
    }


}

footer {
    background: url("../images/footer.png") 0 0 no-repeat;
    background-size: contain;
    background-color: $color_footer_bg;
    height: 0;
    /* display height ÷ width of the image × 100 */
    padding-top: 25%;
    position: relative;
    .row {
        background-color: $color_footer_bg;
        p {
            color: #fff;
            &.copyright {
                text-align: center;
                width: 100%;
            }
            padding-bottom: 10px;
        }
    }
}



/* ============================== chatroom ============================== */

#chat-wrapper {
    //background-color: #ecf8f4;
    display: flex;
    min-height: 100vh;
}
#channel {
    background-color: $color_blue_solid;
    color: #fff;
    width: 20%;
    & > div {
        padding: 10px 20px;
    }
    .group-name {
        font-size: 1.2em;
        font-weight: bold;
        position: fixed;
    }
    .members {
        flex: 1;
        position: fixed;
        top: 50px;
        ul {
            li {
                padding: 5px;
            }
        }
    }
    p.copyright {
        background-color: $color_blue_solid;
        font-size: 0.8em;
        margin-bottom: 0;
        padding: 10px;
        position: fixed; bottom: 0;
        line-height: 200%;
        width: 20%;
    }
}
#chat {
    display: flex;
    width: 80%;
    header {
        background-color: #fff;
        padding: 10px 20px;
        position: fixed; top: 0; right: 0;
        width: 80%;
        z-index: 10;
        p.title {
            float: left;
            font-size: 1.2em;
            font-weight: bold;
        }
        ul {
            display: flex;
            flex-direction: row;
            float: right;
            li {
                a {
                    color: $color_blue_solid;
                    font-size: 1.5em;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
        .trip-details {
            border-top: 1px solid $color_grey;
            clear: both;
            padding: 5px 10px;
            .schedule {
                float: left;
                ul {
                    li {
                        text-align: center;
                    }
                }
                & + div {
                    float: right;
                    p {
                        font-size: 0.9em;
                        line-height: 120%;
                        margin-bottom: 0;
                        text-align: right;
                        &:last-child {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    main {
        background-color: #eee;
        flex: 1;
        overflow: scroll;
        padding: 100px 5px 50px 5px;
        width: 100%;

        ul {
            &.message-wrapper {
                display: flex;
                margin-top: 10px;
                padding: 15px;
                @include transition(all 0.4s ease-in-out);
                &:hover {
                    background-color: #fff;
                    border-radius: 5px;
                    color: $color_blue_solid;
                    li.thumb i { opacity: 1; }
                }
                li {
                    &.thumb {
                        padding: 5px 10px 5px 5px;
                        position: relative;
                        img {
                            border: 1px solid #eee;
                            @include border-radius(50%);
                            height: 50px;
                            width: 50px;
                        }
                        i {
                            @include transition(all 0.4s ease-in-out);
                            color: $color_blue_solid;
                            font-size: 0.8em;
                            opacity: 0;
                            position: absolute; top: 5px; right: 5px;
                        }
                    }
                    &.message {
                        padding: 5px 10px;
                        text-align: left;
                        width: 100%;
                        span.user {
                            display: inline-block;
                            font-weight: bold;
                            width: 100%;
                            span {
                                display: inline-block;
                                float: right;
                                font-weight: normal;
                                font-size: 0.8em;
                                opacity: 0.5;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        background: none;
        height: auto;
        padding-top: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        #comment {
            @include placeholder-color($color_grey_dark);
            height: 50px;
            padding: 10px;
            width: 100%;
        }
    }
}


/* ============================== modal ============================== */
.modal-body {
    padding: 50px 15px 15px 15px;
}

/* ============================== form ============================== */
.form-page {
    header {
        h1 + a, a + a {
            display: none;
        }
    }
    footer {
        clear: both;
    }

    aside, section {

        form {
            margin: 0 auto;
            width: 500px;
            input {
                margin-top: 5px;
            }
            a {
                display: block;
                float: right;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        select {
            width: 100%;
        }

    }

}



/* ============================== profile page ============================== */
.profile {
        .container .row { padding-bottom: 25px; }
        h2 {
            float: left;
            // create button
            & + a {
                color: $color_blue_darker;
                float: right;
                font-size: 1.2em;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
        ul {
            clear: both;
            li {
                font-size: 1.5em;
            }
            &.thumbs {
                padding: 10px;
                li {
                    margin-bottom: 10px;
                    position: relative;
                    a {
                        display: block;
                        margin: 0 auto;
                        .trip-details {
                            color: #fff ;
                            height: 100%;
                            opacity: 0.8;
                            padding: 50px 30px 30px;
                            position: absolute;
                            top: 0; left: 0;
                            text-align: center;
                            width: 100%;
                            @include transition(all 0.4s ease-in-out);
                            span {
                                text-shadow: 2px 2px 2px $color_black;
                                display: block;
                                margin-top: 5px;
                                margin-bottom: 5px;
                                width: 100%;
                                &.title {
                                    font-weight: bold;
                                }
                            }
                        }
                        // .overlay {
                        //     background-color: $color_black;
                        //     height: 100%;
                        //     width: 300px;
                        // }
                        img {
                            border: 1px solid $color_grey;
                            @include border-radius(5px);
                            display: block;
                            height: auto;
                            width: 100%;
                        }
                    }
                    &:hover {
                        a {
                            opacity: 1;
                            .trip-details {
                            }
                            img { scale: 1.2; }
                        }
                    }
                }
            }
        }

    }



/* ============================== chatroom itinerary ============================== */
.modal-dialog {
    @media screen and #{$device_tablet_and_up} {
        width: 800px;
    }
    h3 {
        font-size: 1.2em !important;
    }
    .modal-body.chat {
        padding: 15px;
    }
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  // background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&fm=jpg&s=fa68c48c66a390579ae96eff13922404);
  // background-size: cover;
  // background-position: center;
  .block__item {
    flex: 0 1 80%;
    font-style: italic;
    .block__inner {
      padding: 2em 3em;

      @media (max-width: 550px) {
        padding: 1em;
      }
    }

    @media (max-width: 950px) {
      flex: 0 1 100%;
    }
  }

  .block__description {
    line-height: 22px;
    &:first-letter {
      float: left;
      font-size: 55px;
      line-height: 40px;
      padding: 0 .25em;
    }
  }
}

// itinerary header section
#itinerary-top {
    background-color: #fff;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 95%;

    /* ---- Timeline ---- */
    p {
        color: $color_black;
        padding: 10px;
        position: absolute;
        top: -20px;
        z-index: 10;
        &.arrow.prev {
            left: -30px;
        }
        &.arrow.next{
            right: -30px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    ol {
        position: relative;
        display: block;
        margin: 55px 5px 20px 5px;
        height: 2px;
        background: $color_blue_solid;
        &:after {
            border: 3px solid $color_blue_solid;
            border-radius: 50%;
            background: #fff;
            content: "";
            height: 20px;
            position: absolute;
            top: -10px; right: 0;
            width: 20px;
        }
        /* ---- Timeline elements ---- */
        li {
            position: relative;
            display: inline-block;
            width: 14%;
            height: 50px;
            p {
                &.inactive {
                    opacity: 0.2;
                }
                &.inactive + span.point {
                    opacity: 0.2;
                }
            }
            & .day-flag {
                color: $color_purple;
                font-weight: bold;
                transform: rotate(-30deg);
                position: absolute; top: -47px; left: 30%;
                padding: 10px;
            }
            & .point {
                border: 3px solid $color_blue_solid;
                border-radius: 50%;
                background: #fff;
                content: "";
                height: 20px;
                position: absolute;
                top: -9px; left: 0;
                width: 20px;
                &.active {
                    border: 10px solid $color_blue_solid;
                }
            }
            &:hover {
                color: #48A4D2;
                cursor: pointer;
            }
        }
    }

}

// itinerary main section
.list {
  font-family: $font_sansserif;
  font-style: normal;
  background-color: #3E414E;
  float: left;
  padding: 1.5em 0;
  margin-bottom: 3em;

  .list__item {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .list__time {
      color: #CBB46E;
      width: 15%;
      text-align: center;
    }
    .list__desc {
      width: 60%;
      border-bottom: 1px solid #484C56;
      color: #ffffff;
      font-size: 0.9em !important;
      line-height: 22px;
      padding: 1em;
      position: relative;
      h3 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .border {
        background: #2A2B31;
        width: 2px;
        position: absolute;
        top: 0;
        bottom: -1px;
        left: -15%;
        &:after {
          content: "";
          background: #3E414E;
          border: 5px solid #2A2B31;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          margin-top: -9px;
          left: -9px;
          width: 20px;
          height: 20px;
        }
        @media (max-width: 550px) {
          left: -5%;
        }
      }
    }
    &:last-of-type {
      .list__desc {
        border-bottom: none;
        .border {
          &:before {
            content: "";
            background: #2A2B31;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            position: absolute;
            bottom: -8px;
            left: -3px;
          }
        }
      }
    }
    &:first-of-type {
      .list__desc {
        //border-bottom: none;
        .border {
          &:before {
            content: "";
            background: #2A2B31;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            position: absolute;
            top: -8px;
            left: -3px;
          }
        }
      }
    }
  }
}


/* ============================== chatroom itinerary slider ============================== */

#itinerary-wrapper {
    overflow: hidden;
    width: 100%;
}
input[type="radio"] {
    display: none;
}
/* :::::: slideshow :::::: */
#slideshow {
    position: relative;
    width: 100%;
}
.slideContents {
    padding-top: 1em;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.slideContents p.title {
    color: #fff;
    padding-bottom: 2em;
}
.slideContents {
    background-color: $color_purple;
    width: 700%;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
}
.slideContents::after {
    content: "";
    display: block;
    clear: both;
}
.slideContents section {
    float: left;
    width: calc( 100% / 7 );
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
}
.slideContents section list__item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 0 50px;
    vertical-align: middle;
}
/* :::::: slideshow mechanism :::::: */
#switch1:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
#switch2:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(calc(100% / 7 * 1));
    transform: translateX(calc(-100% / 7 * 1));
}
#switch3:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(calc(-100% / 7 * 2));
    transform: translateX(calc(-100% / 7 * 2));
}
#switch4:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(calc(-100% / 7 * 3));
    transform: translateX(calc(-100% / 7 * 3));
}
#switch5:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(calc(-100% / 7 * 4));
    transform: translateX(calc(-100% / 7 * 4));
}
#switch6:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(calc(-100% / 7 * 5));
    transform: translateX(calc(-100% / 7 * 5));
}
#switch7:checked ~ #slideshow .slideContents {
    -webkit-transform: translateX(calc(-100% / 7 * 6));
    transform: translateX(calc(-100% / 7 * 6));
}
