$font_title:    "Sofia", cursive;
$font_serif:    'Crimson Text', osaka, serif;
$font_sansserif: "Lato", sans-serif;

$color_black:       #3d3d3d;
$color_blue:        #1cd2d0;
$color_blue_darker: #10cfcc;
$color_blue_solid:  #1a8db6;
$color_brown:       #603813;
$color_footer_bg:   #3d3d3d;
$color_grey:        #f4f5f4;
$color_grey_base:   #eeeeee;
$color_grey_dark:   #a5a5a5;


$device_mobile:             '(max-width: 767px)';
$device_tablet:             '(min-width: 768px) and (max-width: 991px)';
$device_tablet_and_up:      '(min-width: 768px)';
$device_desktop_md:         '(min-width: 992px) and (max-width: 1199px)';
$device_desktop_md_and_up:  '(min-width: 992px)';
$device_desktop_lg:         '(min-width: 1200px)';

@mixin border-radius($p) {
    border-radius: $p;
    -moz-border-radius: $p;
    -webkit-border-radius: $p;
}

@mixin box-shadow($v) {
    box-shadow: $v;
    -moz-box-shadow: $v;
    -webkit-box-shadow: $v;
}

@mixin box-sizing($b) {
    box-sizing: $b;
    -moz-box-sizing: $b;
    -webkit-box-sizing: $b;
}


@mixin transition($t) {
    transition: $t;
    -moz-transition: $t;
    -webkit-transition: $t;
    -o-transition: $t;
    -ms-transition: $t;
}

@mixin transform($r) {
    transform: $r;
    -ms-transform: $r;
    -moz-transform: $r;
    -webkit-transform: $r;
}
//how to use
//@include border-radius(0);
//@include box-shadow(none);
//


@mixin placeholder-color($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@include keyframes(fadeIn) {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}
@include keyframes(fadeOut) {
    0% { display: block; opacity: 1; }
    80% { display: block; opacity: 0; }
    100% { display: none; opacity: 0; }
}


/* General Settings */
body {
    background-color: #fff;
    font-family: $font_sansserif;
}

/* for firefox */
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

// fontawesome input placeholder entry
input.fontawesome {
    font-family: FontAwesome, $font_sansserif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

// replace styling for bootstrap primary btn
.btn.btn-primary {
    background-color: $color_blue;
    border: 1px solid $color_blue_darker;
    @include transition(all 0.4s ease-in-out);
    &:hover {

        background-color: $color_blue_darker;
    }
}

//font size setting
html { }
body { }
h1   {  }
h2, h3 { }

@media screen and #{$device_mobile} {
    body { }
    i.fa { }
}

//font family, font weight and other setting
h1, h2 { color: $color_grey_dark; font-family: $font_serif; }
strong { font-family: $font_sansserif; font-weight: bold; }

span { line-height: 100%; vertical-align: baseline; }
img { border: none; }

p {
    line-height: 150%;  /* 170% for en sentenses */
    text-align: center;
}
ul, ol { list-style: none; margin: 0; padding: 0; }

i {
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    position: relative;
}

a {
    color: $color_blue;
    display: inline-block;
    text-decoration: none;
    @include transition(all 0.4s ease-in-out);
    &:hover {
        opacity: 0.4; filter: alpha(opacity=40);
        @media screen and #{$device_mobile} {
            opacity: 1; filter: alpha(opacity=100);
        }
        @media screen and #{$device_tablet} {
            opacity: 1; filter: alpha(opacity=100);
        }
    }
    &:active, &:hover, &:link {
        text-decoration: none !important;
    }

    &:active, &:focus {outline: 0;}

    &.active {
    }
    img {
        border: none;
        outline: none;
    }
}

/* bootstrap bugs for xs offset (?) this is to fix */
.col-xs-offset-1 {
    @media screen and #{$device_tablet_and_up} { margin-left: 0; }
}

/* header  */
header {
    height: 100px;
    img {
        float: left;
    }
    h1 {
        color: $color_blue;
        font-family: $font_serif;
        float: left;
        text-align: left;
        font-family: $font-serif;
        font-size: 3em;
        // @media screen and #{$device_device_mobile} { width: 100%; }
    }
    a, button {
        display: block;
        float: right;
        &.logo {
            float: left;
        }
        &.btn {
            margin: 30px 10px;
            &.btn-primary {
                background-color: $color_blue;
                border-color: $color_blue_darker;
            }
        }
    }
}

main {
    padding-bottom: 30px;
    .banner {
        padding-right: 0;
        padding-left: 0;
        img {
            max-width: 100%;
        }
    }
    .title {
        font-size: 1.2em;
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .card-wrapper {
        background-color: $color_grey;
        @include border-radius(10px);
        padding: 50px;
        i {
            color: $color_blue;
            font-size: 100px;
        }
    }
    .note {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    // bxslider
    .bx-controls {
        display: none;
    }


}

footer {
    background: url("../images/footer.png") 0 0 no-repeat;
    background-size: contain;
    background-color: $color_footer_bg;
    height: 0;
    /* display height ÷ width of the image × 100 */
    padding-top: 25%;
    position: relative;
    .row {
        background-color: $color_footer_bg;
        p {
            color: #fff;
            &.copyright {
                text-align: center;
                width: 100%;
            }
            padding-bottom: 10px;
        }
    }
}



/* ============================== chatroom ============================== */

#chat-wrapper {
    //background-color: #ecf8f4;
    display: flex;
    min-height: 100vh;
}
#channel {
    background-color: $color_blue_solid;
    color: #fff;
    width: 20%;
    & > div {
        padding: 10px 20px;
    }
    .group-name {
        font-size: 1.2em;
        font-weight: bold;
        position: fixed;
    }
    .members {
        flex: 1;
        position: fixed;
        top: 50px;
        ul {
            li {
                padding: 5px;
            }
        }
    }
    p.copyright {
        background-color: $color_blue_solid;
        font-size: 0.8em;
        margin-bottom: 0;
        padding: 10px;
        position: fixed; bottom: 0;
        line-height: 200%;
        width: 20%;
    }
}
#chat {
    display: flex;
    width: 80%;
    header {
        background-color: #fff;
        padding: 10px 20px;
        position: fixed; top: 0; right: 0;
        width: 80%;
        z-index: 10;
        p.title {
            float: left;
            font-size: 1.2em;
            font-weight: bold;
        }
        ul {
            display: flex;
            flex-direction: row;
            float: right;
            li {
                a {
                    color: $color_blue_solid;
                    font-size: 1.5em;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
        .trip-details {
            border-top: 1px solid $color_grey;
            clear: both;
            padding: 5px 10px;
            .schedule {
                float: left;
                ul {
                    li {
                        text-align: center;
                    }
                }
                & + div {
                    float: right;
                    p {
                        font-size: 0.9em;
                        line-height: 120%;
                        margin-bottom: 0;
                        text-align: right;
                        &:last-child {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    main {
        background-color: #eee;
        flex: 1;
        overflow: scroll;
        padding: 100px 5px 50px 5px;
        width: 100%;

        ul {
            &.message-wrapper {
                display: flex;
                margin-top: 10px;
                padding: 15px;
                @include transition(all 0.4s ease-in-out);
                &:hover {
                    background-color: #fff;
                    border-radius: 5px;
                    color: $color_blue_solid;
                    li.thumb i { opacity: 1; }
                }
                li {
                    &.thumb {
                        padding: 5px 10px 5px 5px;
                        position: relative;
                        img {
                            border: 1px solid #eee;
                            @include border-radius(50%);
                            height: 50px;
                            width: 50px;
                        }
                        i {
                            @include transition(all 0.4s ease-in-out);
                            color: $color_blue_solid;
                            font-size: 0.8em;
                            opacity: 0;
                            position: absolute; top: 5px; right: 5px;
                        }
                    }
                    &.message {
                        padding: 5px 10px;
                        text-align: left;
                        width: 100%;
                        span.user {
                            display: inline-block;
                            font-weight: bold;
                            width: 100%;
                            span {
                                display: inline-block;
                                float: right;
                                font-weight: normal;
                                font-size: 0.8em;
                                opacity: 0.5;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        background: none;
        height: auto;
        padding-top: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        #comment {
            @include placeholder-color($color_grey_dark);
            height: 50px;
            padding: 10px;
            width: 100%;
        }
    }
}


/* ============================== modal ============================== */
.modal-body {
    padding: 50px 15px 15px 15px;
}

/* ============================== form ============================== */
.form-page {
    header {
        h1 + a, a + a {
            display: none;
        }
    }
    footer {
        clear: both;
    }

    aside, section {
        form {
            margin: 0 auto;
            width: 500px;
            input {
                margin-top: 5px;
            }
            a {
                display: block;
                float: right;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        select {
            width: 100%;
        }

    }

}



/* ============================== profile page ============================== */
.profile {
        .container .row { padding-bottom: 25px; }
        h2 {
            float: left;
            // create button
            & + a {
                color: $color_blue_darker;
                float: right;
                font-size: 1.2em;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
        ul {
            clear: both;
            li {
                font-size: 1.5em;
            }
            &.thumbs {
                padding: 10px;
                li {
                    margin-bottom: 10px;
                    position: relative;
                    a {
                        display: block;
                        margin: 0 auto;
                        .trip-details {
                            color: #fff ;
                            height: 100%;
                            opacity: 0.8;
                            padding: 50px 30px 30px;
                            position: absolute;
                            top: 0; left: 0;
                            text-align: center;
                            width: 100%;
                            @include transition(all 0.4s ease-in-out);
                            span {
                                text-shadow: 2px 2px 2px $color_black;
                                display: block;
                                margin-top: 5px;
                                margin-bottom: 5px;
                                width: 100%;
                                &.title {
                                    font-weight: bold;
                                }
                            }
                        }
                        // .overlay {
                        //     background-color: $color_black;
                        //     height: 100%;
                        //     width: 300px;
                        // }
                        img {
                            border: 1px solid $color_grey;
                            @include border-radius(5px);
                            display: block;
                            height: auto;
                            width: 100%;
                        }
                    }
                    &:hover {
                        a {
                            opacity: 1;
                            .trip-details {
                            }
                            img { scale: 1.2; }
                        }
                    }
                }
            }
        }

    }