@charset "UTF-8";
@-webkit-keyframes $animation-name {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-moz-keyframes $animation-name {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes $animation-name {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-webkit-keyframes $animation-name {
  0% {
    display: block;
    opacity: 1; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
@-moz-keyframes $animation-name {
  0% {
    display: block;
    opacity: 1; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
@keyframes $animation-name {
  0% {
    display: block;
    opacity: 1; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
/* General Settings */
body {
  background-color: #fff;
  font-family: "Lato", sans-serif; }

/* for firefox */
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0; }

input.fontawesome {
  font-family: FontAwesome, "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

.btn.btn-primary {
  background-color: #1cd2d0;
  border: 1px solid #10cfcc;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out; }
  .btn.btn-primary:hover {
    background-color: #10cfcc; }

button:focus, .btn.btn-primary:focus, .btn.btn-secondary:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }

h2 {
  width: 80%; }

h1, h2 {
  color: #a5a5a5;
  font-family: "Crimson Text", osaka, serif; }

strong {
  font-family: "Lato", sans-serif;
  font-weight: bold; }

span {
  line-height: 100%;
  vertical-align: baseline; }

img {
  border: none; }

p {
  line-height: 150%;
  /* 170% for en sentenses */
  text-align: center; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

i {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  position: relative; }

a {
  color: #1cd2d0;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out; }
  a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); }
    @media screen and (max-width: 767px) {
      a:hover {
        opacity: 1;
        filter: alpha(opacity=100); } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      a:hover {
        opacity: 1;
        filter: alpha(opacity=100); } }
  a:active, a:hover, a:link {
    text-decoration: none !important; }
  a:active, a:focus {
    outline: 0; }
  a img {
    border: none;
    outline: none; }

/* bootstrap bugs for xs offset (?) this is to fix */
@media screen and (min-width: 768px) {
  .col-xs-offset-1 {
    margin-left: 0; } }

/* header  */
header {
  height: 100px; }
  header .top {
    height: 100px; }
    header .top .btn.btn-primary {
      margin-top: 30px;
      margin-bottom: 30px; }
  header img {
    float: left; }
  header h1 {
    color: #1cd2d0;
    font-family: "Crimson Text", osaka, serif;
    float: left;
    text-align: left;
    font-family: "Crimson Text", osaka, serif;
    font-size: 3em; }
  header h1 + div {
    float: right; }
  header a, header button {
    display: block;
    float: right; }
    header a.logo, header button.logo {
      float: left; }
    header a.btn, header button.btn {
      margin: 10px; }
      header a.btn.btn-primary, header button.btn.btn-primary {
        background-color: #1cd2d0;
        border-color: #10cfcc; }

main {
  padding-bottom: 30px; }
  main .banner {
    padding-right: 0;
    padding-left: 0; }
    main .banner img {
      max-width: 100%; }
  main .title {
    font-size: 1.2em;
    padding-top: 4em;
    padding-bottom: 4em; }
  main .card-wrapper {
    background-color: #f4f5f4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 50px; }
    main .card-wrapper i {
      color: #1cd2d0;
      font-size: 100px; }
  main .note {
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 15px; }
  main .bx-controls {
    display: none; }
  main .row.landing {
    display: flex; }
    main .row.landing .card {
      display: flex; }
    main .row.landing p.icon {
      margin-bottom: 25px; }

footer {
  background: url("../images/footer.png") 0 0 no-repeat;
  background-size: contain;
  background-color: #3d3d3d;
  height: 0;
  /* display height ÷ width of the image × 100 */
  padding-top: 25%;
  position: relative; }
  footer .row {
    background-color: #3d3d3d; }
    footer .row p {
      color: #fff;
      padding-bottom: 10px; }
      footer .row p.copyright {
        text-align: center;
        width: 100%; }
      footer .row p a {
        float: right;
        margin-top: -20px; }
        footer .row p a img {
          width: 50px;
          height: auto; }

/* ============================== chatroom ============================== */
#chat-wrapper {
  display: flex;
  min-height: 100vh; }

#channel {
  background-color: #1a8db6;
  color: #fff;
  width: 20%; }
  #channel > div {
    padding: 10px 20px; }
  #channel .group-name {
    font-size: 1.2em;
    font-weight: bold;
    position: fixed; }
  #channel .members {
    flex: 1;
    position: fixed;
    top: 50px; }
    #channel .members ul li {
      padding: 5px; }
      #channel .members ul li a {
        color: #fff; }
  #channel p.copyright {
    background-color: #1a8db6;
    font-size: 0.8em;
    margin-bottom: 0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    line-height: 200%;
    width: 20%; }

#chat {
  display: flex;
  width: 80%; }
  #chat header {
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4fc;
    height: 120px;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    z-index: 10; }
    #chat header p.title {
      float: left;
      font-size: 1.2em;
      font-weight: bold; }
    #chat header ul {
      display: flex;
      flex-direction: row;
      float: right; }
      #chat header ul li a {
        color: #1a8db6;
        font-size: 1.5em;
        padding-right: 10px;
        padding-left: 10px; }
        #chat header ul li a img {
          margin-top: -10px;
          margin-bottom: 5px; }
    #chat header .trip-details {
      border-top: 1px solid #f4f5f4;
      clear: both;
      float: left;
      padding: 5px 10px;
      width: 100%; }
      #chat header .trip-details .schedule {
        float: left; }
        #chat header .trip-details .schedule ul li {
          text-align: center; }
        #chat header .trip-details .schedule + div {
          float: right; }
          #chat header .trip-details .schedule + div p {
            font-size: 0.9em;
            line-height: 120%;
            margin-bottom: 0;
            text-align: right; }
            #chat header .trip-details .schedule + div p:last-child {
              font-weight: bold; }
      #chat header .trip-details .Countdown {
        float: left;
        font-size: 0.9em;
        margin-top: 2px;
        margin-right: 5px; }
  #chat main {
    background-color: #fff;
    flex: 1;
    overflow: scroll;
    padding: 100px 5px 50px 5px;
    width: 100%; }
    #chat main ul.message-wrapper {
      display: flex;
      margin-top: 30px;
      padding: 15px;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out; }
      #chat main ul.message-wrapper:hover {
        background-color: #f4f5f4;
        border-radius: 5px;
        color: #1a8db6; }
        #chat main ul.message-wrapper:hover li.thumb i {
          opacity: 1; }
      #chat main ul.message-wrapper li.thumb {
        padding: 5px 10px 5px 5px;
        position: relative; }
        #chat main ul.message-wrapper li.thumb img {
          border: 1px solid #eee;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          height: 50px;
          width: 50px; }
        #chat main ul.message-wrapper li.thumb i {
          transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          color: #1a8db6;
          font-size: 0.8em;
          opacity: 0;
          position: absolute;
          top: 5px;
          right: 5px; }
      #chat main ul.message-wrapper li.message {
        padding: 5px 10px;
        text-align: left;
        width: 100%; }
        #chat main ul.message-wrapper li.message span.user {
          display: inline-block;
          font-weight: bold;
          width: 100%; }
          #chat main ul.message-wrapper li.message span.user span {
            display: inline-block;
            float: right;
            font-weight: normal;
            font-size: 0.8em;
            opacity: 0.5;
            text-align: right; }
  #chat footer {
    background: none;
    height: auto;
    padding-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%; }
    #chat footer #comment {
      height: 50px;
      padding: 10px;
      width: 100%; }
      #chat footer #comment:placeholder-shown {
        color: #a5a5a5; }
      #chat footer #comment::-webkit-input-placeholder {
        color: #a5a5a5; }
      #chat footer #comment:-moz-placeholder {
        color: #a5a5a5;
        opacity: 1; }
      #chat footer #comment::-moz-placeholder {
        color: #a5a5a5;
        opacity: 1; }
      #chat footer #comment:-ms-input-placeholder {
        color: #a5a5a5; }

/* ============================== form ============================== */
.form-page header h1 + a, .form-page header a + a {
  display: none; }
.form-page footer {
  clear: both; }
.form-page aside form, .form-page section form {
  margin: 0 auto;
  width: 500px; }
  .form-page aside form input, .form-page section form input {
    margin-top: 5px; }
  .form-page aside form a, .form-page section form a {
    display: block;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px; }
  .form-page aside form p.error, .form-page section form p.error {
    color: red; }
.form-page aside select, .form-page section select {
  width: 100%; }

form .card {
  background-color: #f4f5f4;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  float: left; }
  form .card img {
    display: block;
    border-radius: 5px;
    float: left;
    height: auto;
    margin: 15px;
    width: 80px; }
    form .card img.create-trip {
      border: 1px solid #f4f5f4;
      width: 120px; }
  form .card .file-upload-container {
    background-color: #f4f5f4;
    border-radius: 5px;
    color: #3d3d3d;
    float: right;
    padding: 15px 15px 5px 15px;
    text-align: left;
    width: 70%; }
    form .card .file-upload-container input[type="file"] {
      float: left;
      margin-top: 10px;
      padding: 0;
      width: 100%; }
      form .card .file-upload-container input[type="file"]:focus {
        outline: none; }
      form .card .file-upload-container input[type="file"]:active {
        box-shadow: none;
        -webkit-box-shadow: none; }
    form .card .file-upload-container .btn.btn-primary {
      background-color: transparent;
      border: none;
      clear: both;
      color: #3d3d3d;
      float: left;
      margin: 0;
      padding: 10px 10px 10px 0; }
      form .card .file-upload-container .btn.btn-primary:focus {
        outline: none; }
      form .card .file-upload-container .btn.btn-primary:acitve {
        box-shadow: none;
        -webkit-box-shadow: none; }

#modal .modal-dialog.modal-dialog-centered {
  width: 400px; }
  #modal .modal-dialog.modal-dialog-centered .modal-footer {
    border-top: 0; }

.form-group p.error, .form-group + p.error {
  color: red;
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 5px;
  float: right;
  text-align: right; }

/* ============================== modal ============================== */
.modal-body {
  padding: 25px 15px; }
  .modal-body.chat {
    padding: 25px 15px 70px 15px; }
  .modal-body button {
    float: right; }

/* ============================== profile page ============================== */
.profile .container .row {
  padding-bottom: 25px; }
.profile main section .container .row {
  border-bottom: 1px solid #f4f5f4; }
.profile h2 {
  float: left; }
  .profile h2 + a {
    color: #10cfcc;
    float: right;
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px; }
.profile ul {
  clear: both; }
  .profile ul li {
    font-size: 1.5em; }
  .profile ul.thumbs {
    padding: 10px; }
    .profile ul.thumbs li {
      margin-bottom: 10px;
      position: relative;
      display: block;
      margin: 0 auto; }
      .profile ul.thumbs li .trip-details {
        color: #3d3d3d;
        height: 100%;
        text-align: center;
        width: 100%;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out; }
        .profile ul.thumbs li .trip-details span {
          display: block;
          margin-top: 5px;
          margin-bottom: 5px;
          width: 100%; }
          .profile ul.thumbs li .trip-details span.title {
            font-weight: bold;
            padding: 10px; }
      .profile ul.thumbs li img {
        border: 1px solid #f4f5f4;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        display: block;
        height: auto;
        width: 100%; }
      .profile ul.thumbs li form {
        text-align: center;
        margin-top: 15px;
        width: 100%; }
        .profile ul.thumbs li form button {
          width: 100%; }
      .profile ul.thumbs li:hover a {
        opacity: 1; }
        .profile ul.thumbs li:hover a img {
          scale: 1.2; }
.profile .card {
  background-color: #f4f5f4;
  border-radius: 5px;
  float: right;
  margin: 25px auto;
  padding: 25px;
  text-align: left;
  width: 80%; }
  .profile .card img {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 150px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(99, 99, 99, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(99, 99, 99, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(99, 99, 99, 0.1); }
  .profile .card ul {
    display: inline-block;
    margin-top: 0;
    margin-left: 1.5em;
    vertical-align: middle; }
    .profile .card ul li {
      font-size: 1.2em;
      text-align: left; }
      .profile .card ul li span.title {
        display: inline-block;
        font-size: 1em;
        padding: 0 5px 5px 5px;
        text-align: right;
        width: 5.5em; }
  .profile .card label {
    margin-top: 30px;
    text-align: left; }
    .profile .card label input[type="file"] {
      padding-left: 0;
      width: 75%; }
    .profile .card label .btn.btn-primary {
      background-color: transparent;
      border: none;
      color: #1a8db6;
      float: left;
      margin: 0;
      padding: 0; }
      .profile .card label .btn.btn-primary:active, .profile .card label .btn.btn-primary:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        outline: none; }

header h1 + div a {
  padding-top: 15px; }
  header h1 + div a .profile-img {
    border: 1px solid #1a8db6;
    border-radius: 50%;
    width: 60px;
    height: auto; }

.search input {
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #eeeeee;
  width: 50%; }
.search h4 {
  color: #a5a5a5;
  font-family: "Crimson Text", osaka, serif;
  font-size: 1.5em; }

ul {
  margin-top: 15px; }
  ul li a {
    font-size: 0.9em; }

h2 + p {
  clear: left; }

::placeholder {
  color: #eeeeee;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eeeeee; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eeeeee; }

/* ============================== chatroom itinerary ============================== */
@media screen and (min-width: 768px) {
  #itinerary.modal.fade.in .modal-dialog.modal-dialog-centered {
    width: 800px; } }
#itinerary.modal.fade.in .modal-dialog.modal-dialog-centered h3 {
  font-size: 1.2em !important; }
#itinerary.modal.fade.in .modal-dialog.modal-dialog-centered .modal-body.chat {
  padding: 15px; }

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .block .block__item {
    flex: 0 1 80%;
    font-style: italic; }
    .block .block__item .block__inner {
      padding: 2em 3em; }
      @media (max-width: 550px) {
        .block .block__item .block__inner {
          padding: 1em; } }
    @media (max-width: 950px) {
      .block .block__item {
        flex: 0 1 100%; } }
  .block .block__description {
    line-height: 22px; }
    .block .block__description:first-letter {
      float: left;
      font-size: 55px;
      line-height: 40px;
      padding: 0 .25em; }

#itinerary-top {
  background-color: #fff;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 95%;
  /* ---- Timeline ---- */ }
  #itinerary-top p {
    color: #3d3d3d;
    padding: 10px;
    position: absolute;
    top: -20px;
    z-index: 10; }
    #itinerary-top p.arrow.prev {
      left: -30px; }
    #itinerary-top p.arrow.next {
      right: -30px; }
    #itinerary-top p:hover {
      cursor: pointer; }
  #itinerary-top ol {
    position: relative;
    display: block;
    margin: 55px 5px 20px 5px;
    height: 2px;
    background: #1a8db6;
    /* ---- Timeline elements ---- */ }
    #itinerary-top ol:after {
      border: 3px solid #1a8db6;
      border-radius: 50%;
      background: #fff;
      content: "";
      height: 20px;
      position: absolute;
      top: -10px;
      right: 0;
      width: 20px; }
    #itinerary-top ol li {
      position: relative;
      display: inline-block;
      width: 14%;
      height: 50px; }
      #itinerary-top ol li.inactive {
        cursor: default; }
      #itinerary-top ol li p.inactive {
        cursor: default;
        opacity: 0.2; }
      #itinerary-top ol li p.inactive + span.point {
        cursor: default;
        opacity: 0.2; }
      #itinerary-top ol li .day-flag {
        color: #3e414e;
        font-weight: bold;
        transform: rotate(-30deg);
        position: absolute;
        top: -47px;
        left: 30%;
        padding: 10px; }
      #itinerary-top ol li .point {
        border: 3px solid #1a8db6;
        border-radius: 50%;
        background: #fff;
        content: "";
        height: 20px;
        position: absolute;
        top: -9px;
        left: 0;
        width: 20px; }
        #itinerary-top ol li .point.active {
          border: 10px solid #1a8db6; }
      #itinerary-top ol li:hover {
        color: #48A4D2;
        cursor: pointer; }

.list {
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #3d3d3d;
  padding: 1.5em 0;
  margin-bottom: 3em; }
  .list .list__item {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .list .list__item .list__time {
      color: #CBB46E;
      width: 15%;
      text-align: center; }
    .list .list__item .list__desc {
      width: 60%;
      border-bottom: 1px solid #484C56;
      color: #ffffff;
      font-size: 0.9em !important;
      line-height: 22px;
      padding: 1em;
      position: relative; }
      .list .list__item .list__desc h3 {
        margin-top: 5px;
        margin-bottom: 5px; }
      .list .list__item .list__desc .border {
        background: #2A2B31;
        width: 2px;
        position: absolute;
        top: 0;
        bottom: -1px;
        left: -15%; }
        .list .list__item .list__desc .border:after {
          content: "";
          background: #3E414E;
          border: 5px solid #2A2B31;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          margin-top: -9px;
          left: -9px;
          width: 20px;
          height: 20px; }
        @media (max-width: 550px) {
          .list .list__item .list__desc .border {
            left: -5%; } }
    .list .list__item:last-of-type .list__desc {
      border-bottom: none; }
      .list .list__item:last-of-type .list__desc .border:before {
        content: "";
        background: #2A2B31;
        border-radius: 50%;
        height: 9px;
        width: 9px;
        position: absolute;
        bottom: -8px;
        left: -3px; }
    .list .list__item:first-of-type .list__desc .border:before {
      content: "";
      background: #2A2B31;
      border-radius: 50%;
      height: 9px;
      width: 9px;
      position: absolute;
      top: -8px;
      left: -3px; }

/* ============================== chatroom itinerary slider ============================== */
#itinerary-wrapper {
  overflow: hidden;
  width: 100%; }

input[type="radio"] {
  display: none; }

/* :::::: slideshow :::::: */
#slideshow {
  position: relative;
  width: 100%; }

.slideContents {
  min-height: 250px;
  padding-top: 1em;
  position: relative;
  -webkit-user-select: none;
  user-select: none; }

.slideContents p.title {
  color: #fff;
  padding-bottom: 2em; }

.slideContents {
  background-color: #3d3d3d;
  width: 700%;
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s; }

.slideContents::after {
  content: "";
  display: block;
  clear: both; }

.slideContents section {
  float: left;
  width: calc( 100% / 7 );
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }

.slideContents section list__item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 0 50px;
  vertical-align: middle; }

/* :::::: slideshow mechanism :::::: */
#switch1:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

#switch2:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(calc(100% / 7 * 1));
  transform: translateX(calc(-100% / 7 * 1)); }

#switch3:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(calc(-100% / 7 * 2));
  transform: translateX(calc(-100% / 7 * 2)); }

#switch4:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(calc(-100% / 7 * 3));
  transform: translateX(calc(-100% / 7 * 3)); }

#switch5:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(calc(-100% / 7 * 4));
  transform: translateX(calc(-100% / 7 * 4)); }

#switch6:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(calc(-100% / 7 * 5));
  transform: translateX(calc(-100% / 7 * 5)); }

#switch7:checked ~ #slideshow .slideContents {
  -webkit-transform: translateX(calc(-100% / 7 * 6));
  transform: translateX(calc(-100% / 7 * 6)); }

/*# sourceMappingURL=style.css.map */
